section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  margin: 1em;
  padding: 1em;
  place-content: center;
  border-bottom: 2px dashed brown;
}

@media only screen and (max-width: 40em) {
  section {
    margin: 0em;
    padding: 0em;
  }
}

.container {
  display: grid;
  padding: 0 23px;
}

.contact-form {
  display: grid;
  place-content: center;
}
