section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  margin: 1em;
  padding: 1em;
  place-content: center;
}

@media only screen and (max-width: 40em) {
  section {
    margin: 0em;
    padding: 0em;
  }
}

.container {
  display: grid;
  padding: 0 23px;
}

.contact-form {
  display: grid;
  place-content: center;
}

pre {
  height: 400px;
}

.page-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  background-color: hsla(8, 20%, 20%, 0.8);
}

.page-wrapper .curtain {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(46, 100%, 65%, 1);
}

.page-wrapper .curtain:nth-of-type(2) {
  background-color: hsla(46, 85%, 47%, 0.8);
}

.page-wrapper .curtain:nth-of-type(3) {
  background-color: hsla(46, 99%, 38%, 0.8);
}
